{% extends('::base.html.twig') %}

{% block body %}
	
	<div id="content_box">
	
		<div id="signup">

			<div id="signup_form">
			
				<h3 id="signup_title">Veuillez compléter ce formulaire pour vous identifiez sur Boutcaz.</h3>
				
				<fieldset id="signup_field">
					
					<div class="signup_left">
						<label class="signup">Email</label>
						<input type="text" class="signup"/>
					</div>
					
					<div class="signup_right">
						<label class="signup">Mot de passe</label>
						<input type="text" class="signup"/>
					</div>
					
					
				<div class="clear"></div>
				
				<input type="checkbox" class="signup" ><label>Se souvenir de moi</label>
				</fieldset>
				
				<div id="signup_submit">
					<input type="submit" value="Connectez moi " class="submit" />
				</div>
				
			</div>
		
		
		</div>
		
		
		
	</div>
	
{% endblock %}