body{
	background-color: #f0f0f0;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	line-height: 1.5em;
}

.clear{ clear: both };
h1 { font-size: 1.5em; color: #1581c3  }
h2 { font-size: 1.25em; color: #1581c3  }
h3 { font-size: 1.1em; color: #1581c3 }
h4 { font-size: 0.9em; color: #1581c3  }

input[type="text"], input[type="email"],input[type="password"], textarea{ font-size: 1em; font-family: georgia; font-style: italic; }

a{ 		 color: #1581c3; text-decoration: none; }
a:hover{ color: #000;    text-decoration: none; }

div.error{ color: red; }

div#notice{ background: #B1C70F; text-align: center; padding: 7px 0; position: absolute; width: 100%; top: 0 }
div#notice h3#message{ color: white; line-height: 1.5em; text-shadow: 1px 1px 2px rgba(0,0,0,0.2);}

div#notice_error{ background: #e54f47; text-align: center; padding: 7px 0; position: absolute; width: 100%; top: 0 }
div#notice_error h3#message{ color: white; line-height: 1.5em; text-shadow: 1px 1px 2px rgba(0,0,0,0.2);}

div#content_error{ background: #fff; border: 1px solid #ccc; border-radius: 7px; width: 100%; padding: 20px; }
div#content_error h3#error_title{ margin-bottom: 10px;}
input::-webkit-input-placeholder {
	font-family: georgia;
	font-style: italic;
	color: #76726d;

}
input::-moz-placeholder {
	font-family: georgia;
	font-style: italic;
	color: #76726d;

}
input:-moz-placeholder {   /* Older versions of Firefox */
	font-family: georgia;
	font-style: italic;
	color: #76726d;

}
input:-ms-input-placeholder { 
	font-family: georgia;
	font-style: italic;
	color: #76726d;
}

textarea::-webkit-input-placeholder {
	font-family: georgia;
	font-style: italic;
	color: #76726d;
}
textarea::-moz-placeholder {
	font-family: georgia;
	font-style: italic;
	color: #76726d;
}
textarea:-moz-placeholder {   /* Older versions of Firefox */
	font-family: georgia;
	font-style: italic;
	color: #76726d;
}
textarea:-ms-input-placeholder { 
	font-family: georgia;
	font-style: italic;
	color: #76726d;
}

#header{
	background: #FFF;
	border-bottom: 1px solid #000;
}

	#header_box{
		width: 1000px;
		margin: 0 auto;
		padding: 5px
	}
	
	#header_box h1#site_title{
		
	}
	
	#site_title{
		float: left;
	}
			#site_title img{
				vertical-align: inherit;
			}
		
			#site_title a.region_title{
				color: #000;
			}
		
	#authenticate_box{ float: right; }
	
		#authenticate_box p#create_acc{ font-size: 0.9em; display: inline-block
		}
		
		#authenticate_box p.connect{ font-size: 0.9em; display: inline-block; padding-top: 10px; margin-right: 20px;}
		
		#authenticate_box input[type="button"].signup{
			border-radius:20px;
			background: #b1c70d;
			border: 1px solid #ccc;
			padding: 5px 20px;
			color: #fff;
			text-transform: uppercase;
			margin-top: 6px;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		}
		
		#authenticate_box input[type="button"].signin{
			background: transparent;
			border: none;
			text-transform: uppercase;
			border-left: 2px solid #ccc;
		}
	
#header_sub{
	background: url('../images/bg.png');
	padding: 10px;
}
	#header_sub_box{
		width: 1000px;
		margin: 0 auto;	
		height: auto;
	}
	
	#header_sub_recherche{
		width: 400px;
		float: right;
		background: #475567;
		border: 1px solid #666;
		border-radius: 7px;
		padding: 10px;
	}
	
		#header_sub_comingsoon{
			float: left;
			width: 500px;
		}
			
			#header_sub_comingsoon p#soon{
				color: #c5cacd;
				font-style: italic;
				text-align: justify;
				padding: 10px;
			}
			
			#header_sub_comingsoon input[type="button"].free_anonce{
				border-radius: 20px;
				background: #b1c70d;
				border: 1px solid #666;
				padding: 5px 20px;
				color: #fff;
				text-transform: uppercase;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
			}
	
		
		#header_sub_recherche fieldset#recherche{
			width: 100%;
		}
			
			#header_sub_recherche p{
				margin-bottom: 5px;
			}
			
			#header_sub_recherche p.submit{
				margin-bottom: 0;
			}
			
			#header_sub_recherche input[type="text"].recherche{
				border: 1px solid #3d4957;
				border-radius: 4px;
				padding: 5px 10px;
				box-shadow: 1px 1px 1px #000;
				width: 95%;
			}
			
			#header_sub_recherche select.recherche{
				border: 1px solid #3d4957;
				border-radius: 4px;
				padding: 5px 10px;
				background: url('../images/bg_input.png');
				box-shadow: 1px 1px 1px #000;
				display: inline;
				width: 49%;
				font-style: italic;
				height: 28px;
			}
			
			#header_sub_recherche input[type="submit"].lancer{
				border: 1px solid #3d4957;
				border-radius: 4px;
				background: #127fc2;
				padding: 5px 30px;
				color: #FFF;
				box-shadow: 1px 1px 1px #000;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
				width: 100%;
			}
			

#content{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

#content_base{
	background: #FFF;
	width: 1000px;
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 20px;
}

#sub_header{
	background: #FFF;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
	
	#sub_header_box{
		margin: 0 auto;
		width: 1000px;
		padding: 5px;
		text-align: center
	}
	
		#sub_header_box ul.sub_header_box_region{
			
		}
		
			#sub_header_box li.menu_region{
				display: inline-block;
				padding: 10px 15px 5px 15px;
				border-right: 1px solid #c3c5c6;
				margin: -5px 0px -5px -5px;
				border-bottom: 3px solid #FFF;
			}
			
			#sub_header_box li.menu_region:hover{
				border-bottom: 3px solid #000;
				color: #000;
			}
			
			#sub_header_box li.menu_region2{
				display: inline-block;
				padding: 10px 15px 5px 15px;
				border-right: 1px solid #c3c5c6;
				margin: -5px 0px -5px -5px;
				border-bottom: 3px solid #FFF;
			}
			
			#sub_header_box li.menu_region2:hover{
				border-bottom: 3px solid #000;
				color: #000;
			}
			
			#sub_header_box li.menu_region3{
				display: inline-block;
				padding: 10px 15px 5px 15px;
				border-right: 1px solid #c3c5c6;
				margin: -5px 0px -5px -5px;
				border-bottom: 3px solid #FFF;
			}
			
			#sub_header_box li.menu_region3:hover{
				border-bottom: 3px solid #000;
				color: #000;
			}
			


#header_center_search{
	margin: 0 auto;
	width: 400px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;

}

	#header_center_search input[type="button"].mainsearch{
			border-radius: 20px;
			background: #b1c70d;
			border: 1px solid #666;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
			padding: 5px 20px;
			color: #fff;
			text-transform: uppercase;
	}




#footer{
	margin-top: 20px;
	border-top: 1px solid #c3c5c6;
	padding: 5px;
}
	#footer p.copyright{
		color: #aaa;
		font-size: 0.85em;
	}
	
	