.fos_user_user_show{
	width: 1000px;
	background: #FFF;
	border: 1px solid #ccc;
}

#profile_edit{
	
}


#profile_edit label.profile{
				display: inline-block;
				color: #666;
			}
			
#profile_edit h3.profile_etape{
			background: #127fc2;
			margin: 0px 20px 10px -40px;
			text-indent: 20px;
			padding: 2px 20px 2px 0px;
			width: auto;
			color: #FFF;
			border-radius: 20px;	
			display: inline-block;
			}

#profile_edit input, .input select{
	outline: none;
	width: 100%;
	padding-left: 10px;
	border: 1px #E5E5E5 solid;
	border-bottom-width: 2px;
	background-color: #FFF;
	height: 25px;
	margin-bottom: 10px;
}
	
	#profile_edit select{
		outline: none;
		width: 103%;
		border: 1px #E5E5E5 solid;
		border-bottom-width: 2px;
		background-color: #FFF;
		height: 27px;
		margin-bottom: 10px;
	}
	
	#profile_edit input[type="radio"]{
		background: #fff;
		border: 1px solid #ccc;
		margin: 10px 5px 0 5px;
		display: inline-block;
		width: 20px;
		height: 18px;
		vertical-align: sub;
		margin-bottom: 20px;
	}

	#profil_edit_left{
		float: left;
		width: 400px;
		background: #eee;
		padding: 20px 30px 20px 20px;
	}
	
			#profil_edit_left fieldest#profile_field{
				
			}
			
			#profil_edit_left label.profile{
				display: inline-block;
				color: #666;
			}
			
			#profil_edit_left label.required{
				display: inline-block;
				margin-right: 30px;
			}

	
	#profil_edit_right{
		float: right;
		width: 500px;
		padding: 20px 30px 20px 20px;
	}
	
			.profil_etape_left{
				float: left;
				width: 220px;
			}
			
			.profil_etape_right{
				float: right;
				width: 250px;
			}
			
			.profil_edit_right_box{
				
			}

			#profil_edit_right textarea#description{
				outline: none;
				width: 100%;
				padding-left: 10px;
				border: 1px #E5E5E5 solid;
				border-bottom-width: 2px;
				background-color: #FFF;
				height: 73px;
				margin-bottom: 10px;
			}
			
#profile_submit{
	text-align: center;
	padding: none;
	margin: 10px -10px 10px 0px;
}

	#profile_submit input[type="submit"].submit{
				border: 1px solid #3d4957;
				border-radius: 4px;
				background: #127fc2;
				color: #FFF;
				height: 25px;
				box-shadow: 1px 1px 1px #000;
				font-size: 1em;
				width: 100%;
			}
			
/* PARTIE CONCERNANT LE SUBHEADER */			

			
			
			
			
			
			
			